* {
	font-family: monospace;
}

#query {
	flex-grow: 1;
}

#textQuery {
	display: flex;
}

div#graphHolder {
	display: flex;
}

canvas.graph {
	margin: auto;
}

table, th, td {
	padding: 4px;
	border: 1px solid #ccc;
	border-collapse: collapse;
}