* {
	font-family: monospace;
}

html, body {
	margin: 0;
	padding: 0;
}

hr {
	border: none;
	border-bottom: 1px solid #ddd;
}

#query {
	flex-grow: 1;
}

#textQuery {
	display: flex;
}

div#graphHolder {
	display: flex;
}

canvas.graph {
	margin: auto;
}

table, th, td {
	padding: 4px;
	border: 1px solid #ccc;
	border-collapse: collapse;
}

table {
	width: 100%;
}

a.button {
	display: inline-block;
	padding: 8px 16px;
	background: #3f6cb5;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	border-radius: 4px;
	cursor: pointer;
}

a.button.disabled {
	cursor: auto;
	background: #bbb;
}

a.scary {
	background: #db3d3d;
}

div.box {
	border: 1px solid #aaa;
	padding: 10px;
	margin: 10px;
}

div.box > *:first-child {
	margin-top: 0;
}

div.box > *:last-child {
	margin-bottom: 0;
}